    /* Tela Padrão */
    .sec-main {
        width: 100%;
        min-height: 100%;
        height: 100%;
        background: var(--corFundo);
        padding-left: 12%;
        padding-top: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5%;
        transition: 0.25s;
        padding-bottom: 3%;
    }

    .sec-main h3{
        width: 90%;
        /* display: flex; */
        gap: 10px;
        /* align-items: center; */
    }

    .div-header {
        width: 90%;
        display: flex;
        align-items: center;
        /* border: 2px solid #fff; */
        /* border-radius: 25px 25px 0px 0px; */
        border-radius: 7px;
        justify-content: space-between;
        padding: 15px;
        border: 1px solid var(--corBordas);
        background: var(--corFundo2);
        font-size: var(--text-lg);
        color: var(--corTxt3);
        cursor: default;
        box-shadow: var(--sombra);
    }

    .div-img-header {
        color: var(--corBase);
        width: 25%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .div-txt-header {
        background: var(--corFundo);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--corBordas);

    }

    .div-txt-header p{
        display: flex;
        gap: 10px;
        align-items: center ;
    }

    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-radius: 50%;
        background: var(--corFundo);
        box-shadow: var(--sombra2);
        width: 50px;
        height: 50px;
        font-size: var(--text-2xl);
        border: 1px solid var(--corBordas);
        color: var(--corBase);
        /* background: linear-gradient(180deg, var(--corBase), var(--corDestaque)); */
        transition: all 0.3s ease;

        &:hover {
            background: var(--corDestaque);
            border-radius: 15px;
            color: var(--txtClaro);
            transform: scale(1.05);
        }
    }

    @media (max-width: 768px) {
        .div-header {
            font-size: 11px;
        }

        .div-txt-header p{
            margin-left: 0px;
            text-align: center;
        }

        .div-txt-header p span:last-child {
            display: flex;
            font-size: 0px;

        }

        #msg_especial{
            margin-right: 5px;
        }

        .div-img-header h2 {
            font-size: var(--text-md);
        }

        .avatar {
            width: 60px;
            height: 60px;
            font-size: var(--text-2xl);
        }
    }